---
import quiz from "../../data/quiz_0001.json";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>イントロクイズ（試作）</h1>

		<p>第{quiz.quizId}回</p>
		<p>参加者：{quiz.participants.join(" / ")}</p>

		<ul>
			{
				quiz.songs.map((song) => (
					<li>
						{song.order}. {song.title}
					</li>
				))
			}
		</ul>
	</body>
</html>
