<nav class="sidebar">
    <form action="/search" method="get" class="search-box">
        <input
            type="text"
            name="q"
            placeholder="曲名 / 参加者 / アーティスト"
        />
    </form>

    <ul>
        <li><a href="/">トップ</a></li>
        <li><a href="/quizzes">クイズ一覧</a></li>
        <li><a href="/songs">曲一覧</a></li>
        <li><a href="/artists">アーティスト</a></li>
        <li><a href="/users">参加者</a></li>
    </ul>
</nav>
